/* Height */

$doc-height: var(--cmac-doc-height);
$doc-width: var(--cmac-doc-width);

/* Management Theme */

$management-font-color-1: var(--cmac-management-font-color-1);
$management-font-color-2: var(--cmac-management-font-color-2);
$management-bg-1: var(--cmac-management-bg-1);
$management-bg-2: var(--cmac-management-bg-2);
$management-bg-3: var(--cmac-management-bg-3);
$management-bg-4: var(--cmac-management-bg-4);
$management-border-color: var(--cmac-management-border-color);
